venv/
.venv/
db.sqlite3
db_data/
.idea
README.md
CHANGELOG.md
.gitignore/
.git/
.idea/
.DS_Store/
docker-compose.yml
.vscode/
shared_tmp
.env*
celerybeat*
db*
Dockerfile
Dockerfile.selenium


# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/